.react-pdf__Page__annotations{
  --scale-factor: 0;
}/* use this to hide the annotation layer otherwise it takes up lots of space on the page*/


.Document {
  position: relative;
}

.Canvas {
position: absolute;
top: 0;
left: 0;
z-index: 2; /* Adjust the z-index to control the stacking order */
}

.react-pdf__Page {
position: absolute;
top: 0;
left: 0;
z-index: 1; /* Adjust the z-index to control the stacking order */
}

.NextPrev {
  position: absolute;
  z-index: 3;
}



